.aida__view[data-v-cb1d3208] {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.leading-\[3rem\] {
    line-height: 3rem;
}
.font-bold {
    font-weight: 700;
}
.text-\[2\.5rem\] {
    font-size: 3.5rem;
}
.py-8 {
    padding-top: 7rem;
    padding-bottom: 2rem;
}
.break-words {
    overflow-wrap: break-word;
}
.whitespace-pre-wrap {
    white-space: pre-wrap;
}
.mt-0 {
    margin-top: 0;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.text-center {
    text-align: center;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.break-inside-avoid {
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.i-container {
    max-width: 800px;
}
.i-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 7rem;
    padding-right: 1rem;
}

.basis-0 {
    flex-basis: 0px;
}

.pb-11\.5 {
    padding-bottom: 2.875rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

