<html lang="en" class="gray-matter" >
   <head>

      {% include 'partials/header.html' %}

     <style>
	.popular-goals{
		background: -webkit-linear-gradient(#13294B, #13294B);

    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
		margin-right: 55px;
		font-family: "Mark Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		cursor: pointer;

	}
</style>

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700" media="all">
      <title>Ready to unfold your greatness? | stackunfold </title>

      <meta content="website" property="og:type"><link rel='stylesheet' href='../static/d33wubrfki0l68.cloudfront.net/css/40e85f98a6bb117ebc3f5db5c0609ad10574594c/styles/style.css'/>
      <link rel="stylesheet" href="../static/home/test-series.css">

   </head>
   <body>
      <div id="app" data-v-app="">
         <div  class="v4.1.15" data-v-b7146024="" style="font-family: Quicksand, sans-serif;">
            <div id="" class="flex flex-col relative overflow-hidden bg-fixed bg-cover" data-v-1dc6e7a8="" data-v-b7146024="">
               <div class="background absolute w-full z-0 max-h-screen" data-v-4e464674="">
                  <div class="internal" data-v-4e464674=""></div>
               </div>
               <main class="i-main flex w-full justify-center z-10 mb-16 grow items-center no-footer" data-v-11c533ca="">
                  <form class="w-full">
                     <div class="contents-container i-container rounded-2xl px-0 pt-8" tag="span" data-v-67fd9680="">
                        <div data-v-67fd9680="">
                           <div class="i-container break-inside-avoid">
                              <div class="flex flex-nowrap">
                                 <!---->
                                 <div class="relative w-full grow basis-0">
                                    <div class="text-center px-0">
                                       <h1 class="aida__view font-bold mt-0 mb-2 py-8 text-[2.5rem] leading-[3rem] whitespace-pre-wrap break-words" data-v-cb1d3208="">Ready to unfold your greatness?</h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="i-container break-inside-avoid">
                              <div class="flex flex-nowrap">
                                 <!---->
                                 <div class="relative w-full grow basis-0">
                                    <div class="pb-11.5 px-0">
                                       <figure class="flex m-0 p-0 relative flex items-center flex-col">
                                          <img alt="" src="https://media.aidaform.com/us-east-1%3A34b22306-3b52-4be6-b659-82969f250454/pn04i5rl0q.png" style="width: 100%; max-width: 700px; max-height: 350px;"><!---->
                                       </figure>
                                    </div>
                                 </div>
                              </div>
                           </div>
<!--                           <div class="i-container">-->
<!--                              <div class="flex flex-nowrap">-->
<!--                                 &lt;!&ndash;&ndash;&gt;-->
<!--                                 <div class="relative w-full grow basis-0">-->
<!--                                    <div class="aida__view py-8 text-lg leading-[1.7rem] text-left px-0" data-v-cb1d3208="">-->
<!--                                       <p>Is your inner anime character a magical girl or a criminal mastermind? Take our anime personality quiz and find out!<br></p>-->
<!--                                    </div>-->
<!--                                 </div>-->
<!--                              </div>-->
<!--                           </div>-->
                        </div>
                        <div class="i-container max-w-[50rem] print:hidden" data-v-67fd9680="">
                           <div data-v-5250d101="">
                              <!----><!---->
                              <form class="newsletter newsletter-website connected" id="signup-form-bottom">
				<div class="css-1wd28op-PopularGoalsWrapper e3x32mw1">
					<p color="var(--color-text-secondary)" class="css-qw5m3r-P1-SubHeader e3x32mw2">Explore</p>
						<a class="popular-goals" href="jee">IIT JEE</a>
						<a class="popular-goals" href="geeks">Geeks Portal</a>
						<a class="popular-goals" href="neet">NEET UG</a>
						<a class="popular-goals" href="explore">and many more</a>
<!--						<h5 class="popular-goals">CAT &amp; Other MBA Entrance Tests</h5>-->
<!--						<h5 class="popular-goals">Bank Exams</h5>-->
<!--						<h5 class="popular-goals">UPSC CSE - Optional</h5>-->

<!--                <div class="newsletter-fields">-->
<!--					-->
<!--                    <button class="button">Sign up</button>-->
<!--                </div>-->
<!--                <p class="legal-note"><span>We care about protecting your data. Here’s our </span><a href='privacy-policy.html'>Privacy Policy.</a></p>-->
<!--                <p class="newsletter-response negative" data-error-cc="Looks like you&apos;re already on the list! The first issue of Constant Change should be coming your way shortly." data-error="Looks like you&apos;re already on the list! &lt;br&gt;&lt;button class=&quot;text-button&quot; data-show=&quot;survey&quot;&gt;Take this brief survey&lt;/button&gt; for priority access to Skillds." data-success="Almost finished... Please confirm your email address to complete the subscription process."></p>-->
            </form>
                           </div>
                        </div>
                     </div>
                     <div></div>
                  </form>
               </main>
            </div>
            <div class="modals-container" data-v-b7146024=""></div>
         </div>
      </div>
   </body>

{% include 'partials/footer.html' %}

</html>