<div class="container " style="background:white">
         <div class="container-inner">
            <footer class="footer">
               <div class="footer-left">
                  <a aria-label="stackunfold" class="logo" href="/">
                     stackunfold
                  </a>
                  <p>© Copyright 2022 stackunfold.<br> All rights reserved.</p>
               </div>
               <nav class="footer-right">
                  <div class="links company company">
                     <h5>Company</h5>
                     <a href="">Home</a>
                     <a href='/about'>About</a>
<!--                     <a href='blog.html'>Blog</a>-->
                     <a href='about.html#hiring'>Jobs</a>
                     <a href=''>What's New</a>
                  </div>
                  <div class="links company legal">
                     <h5>Legal</h5>
                     <a href='legal-notice.html'>Legal Notice</a>
                     <a href='privacy-policy.html'>Privacy Policy</a>
                     <a href='terms-of-use.html'>Terms of Use</a>
<!--                     <a href='dpa.html'>DPA</a>-->
<!--                     <a href='dmca-policy.html'>DMCA Policy</a>-->
<!--                     <a href='erdf.html'>ERDF Support</a>-->
                  </div>
                  <div class="links company social-links">
                     <h5>Follow us</h5>
                     <div class="buttons-social">
            <a class="button-social linkedIn" aria-label="stackunfold on LinkedIn">
                <img alt="LinkedIn" src="../../static/images/linkedin.svg">
            </a>
            <a class="button-social twitter" aria-label="stackunfold on Twitter" >
                <img alt="Twitter" src="../../static/images/twitter.svg">
            </a>
            <a class="button-social instagram" aria-label="stackunfold on Instagram" >
                <img alt="Instagram" src="../../static/images/instagram.svg">
            </a></div>
                  </div>
               </nav>
            </footer>
         </div>
      </div>