
{% include 'partials/header.html' %}

<link rel="stylesheet" href="../static/home/q-n-a.css">

<meta content="website" property="og:type"><link rel='stylesheet' href='../static/d33wubrfki0l68.cloudfront.net/css/40e85f98a6bb117ebc3f5db5c0609ad10574594c/styles/style.css'/>

<div class="css-nov55f-AppContainer-QuizLandingContainer ery2jdn0">
   <div class="css-1b7yu9z-ProgressBarWrapper e1njj5280"></div>
   <div data-image-preview-boundary="data-image-preview-boundary" class="css-1mgb3h9-Wrapper ek1zis70">
      <div class="MuiPaper-root css-w7qrx4-Paper-Wrapper edgmrv10 MuiPaper-elevation1 MuiPaper-rounded">
         <div class="css-duj8jm-Header e1pjfy300">
            <div class="css-vt6q5y-Flex e1pjfy301">
               <h5 color="var(--color-text-primary)" class="css-reg4s5-H5 e97kqng0">Question 1</h5>
            </div>
         </div>
         <div class="css-18utuf-QuestionContainer e1pjfy303">
            <div data-image-preview="true" class="css-y2nz9j-HTMLWrapper e1qv8z1j0">
               <p>Normal human blood sugar range is 65-105 mg/dL. Considering the density of human blood is 1.06 kg/L, if a patient’s sugar level reads 720 ppm, his/her blood sugar at that time is</p>
            </div>
         </div>
         <div class="css-1ksp1cg-AnswersWrapper e1pjfy309">
            <div class="css-txl7bc-Answer e1pjfy3010">
               <div data-image-preview="true" class="css-1q8fm30-HTMLWrapper e1qv8z1j0">
                  <p>Normal</p>
               </div>
            </div>
            <div class="css-txl7bc-Answer e1pjfy3010">
               <div data-image-preview="true" class="css-1q8fm30-HTMLWrapper e1qv8z1j0">
                  <p>High</p>
               </div>
            </div>
            <div class="css-txl7bc-Answer e1pjfy3010">
               <div data-image-preview="true" class="css-1q8fm30-HTMLWrapper e1qv8z1j0">
                  <p>Low</p>
               </div>
            </div>
            <div class="css-txl7bc-Answer e1pjfy3010">
               <div data-image-preview="true" class="css-1q8fm30-HTMLWrapper e1qv8z1j0">
                  <p>Cannot say.</p>
               </div>
            </div>
         </div>
          <div class="multiple css-g9gnjt-Submit e1xg0zb01">
             <button type="button" aria-label="Previous"class="button light  css-15ty8rt-StyledButton e1wp3nh0" data-analytics="">Previous</button>
             <button type="button" aria-label="Submit" style="background-color: #13294B;" class="button css-1l60y9v-StyledButton e1wp3nh0" data-analytics="">Next</button>
          </div>
<!--         <div data-testid="solution-container" class="css-1s2nn0t-SolutionButtonContainer e1pjfy304">-->
<!--            <img src="https://static.uacdn.net/production/_next/static/images/solution.svg" class="css-pcsweh-SolutionIcon e1pjfy305">-->
<!--            <h6 color="var(&#45;&#45;color-text-primary)" class="css-1vs5e9w-H6 evqgxxe0">Solution</h6>-->
<!--            <p color="var(&#45;&#45;color-text-primary)" class="css-zpz5h7-P1-SolutionButton e1pjfy306">View</p>-->
<!--         </div>-->
      </div>

   </div>
</div>